{{!-- Sign up page --}}

<main class="signup">
    <div class="card-layout">
        <div class="signup-container">
            <h1>Create Pawdoption Account</h1>
            <p class="slogan">Where Hearts and Paws Unite&#33;</p>
            <form action="" method="" id="signupForm" autocomplete="off">
                <div class="signup-input">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="userEmailAddress">Email</label>
                    <input type="email" name="userEmailAddress" id="userEmailAddress" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="userPassword">Password</label>
                    <input type="password" name="userPassword" id="userPassword" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="confirmUserPassword">Confirm Password</label>
                    <input type="password" name="confirmUserPassword" id="confirmUserPassword" required>
                    <p></p>
                </div>
                <div class="existing-user" id="existingUser">
                    <p>Already have an account? <a href="/signin">Sign In</a></p>
                </div>
                <div class="signup-submit">
                    <button type="submit" class="btn-signup">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</main>