{{!-- Sign in page --}}

<main class="signin">
    <div class="card-layout">
        <div class="signin-container">
            <h1>Welcome to Pawdoption&#33;</h1>
            <p class="signin-msg">Sign into your account</p>
            <form action="" method="" id="signinForm" autocomplete="off">
                <div class="signin-input">
                    <label for="emailAddress">Email</label>
                    <input type="email" name="emailAddress" id="emailAddress" required>
                </div>
                <div class="signin-input">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" required>
                </div>
                <div class="signin-submit">
                    <button type="submit" class="btn-signin">Sign In</button>
                </div>
                <div class="new-user" id="newUser">
                    <p>New to PawAdoption&#63; <a href="/signup.html">Join Now</a></p>
                </div>
            </form>
        </div>
    </div>
</main>