<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} &#124; Pawdoption</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/img/favicon/site.webmanifest">
</head>

<body>
    <header class="registration-header">
        <div class="nav-logo">
            <a href="/pets">
                <img src="/public/img/logo/pawdoption_logo.png"
                    alt="Pawdoption logo with website title, a dog and cat underneath and slogan.">
            </a>
        </div>
    </header>

    {{{body}}}

    <script src="/public/js/form_validation.js"></script>
</body>

</html>