* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --main-color: #15b946;
    --dark-text-color: #040705;
    --white-text-color: #ffffff;
    --dark-backround-color: #0a4d1e;
    --light-background-color: #42ae63;
}

body {
    font-family: cursive;
}

/* General styling */
.error {
    color: #ff0000;
}

a {
    color: #000000;
}

/* Navigation style */
.main-nav nav {
    display: flex;
    padding: 1rem 4rem 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 900px;
    z-index: 2;
    background-color: #fffefc;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.main-nav .logo {
    height: 4rem;
    margin-left: 3.5rem;
}

.logo img {
    height: 100%;
    border-radius: 5px;
}

.main-nav .menu-list {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.menu-list .list-item {
    margin-left: 4rem;
}

.list-item a {
    color: #000000;
    font-size: large;
    text-decoration: none;
}

.list-item a:hover {
    color: var(--main-color);
}

/* Registration header style */
.registration-header {
    padding-top: 1rem;
    padding-left: 4.5rem;
}

.nav-logo img {
    height: 64px;
    border-radius: 5px;
}

/* Sign up & Sign in page */
.signup,
.signin {
    padding: 2rem 0;
}

.card-layout {
    margin: 0 auto;
    width: 430px;
    padding: 2rem 3rem;
    border-radius: 10px;
    font-weight: bold;
    color: var(--dark-text-color);
    box-shadow: 0 10px 15px 0 rgba(10, 77, 30, 1);
}

.signup-container h1,
.signin-container h1 {
    font-size: x-large;
    margin-bottom: 1rem;
    text-align: center;
}

.signup-container .slogan,
.signin-container .signin-msg {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--main-color);
}

.signup-input,
.signin-input,
.new-pet-input {
    margin-bottom: 0.8rem;
}

.signup-input label,
.signin-input label,
.new-pet-input label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.signup-input input,
.signin-input input,
.new-pet-input input,
.new-pet-input select {
    width: 100%;
    margin-bottom: 0.2rem;
    padding: 0.8rem 0.6rem;
    border-radius: 5px;
    border: 1.5px solid var(--dark-text-color);
}

.signup-input input:focus,
.signin-input input:focus,
.new-pet-input input:focus {
    outline: none;
    border: 1.5px solid var(--main-color);
}

.existing-user {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.existing-user a,
.new-user a {
    color: var(--main-color);
    text-decoration: none;
}

.signup-submit,
.signin-submit,
.new-pet-submit {
    text-align: center;
}

.btn-signup,
.btn-signin,
.btn-new-pet {
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: cursive;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    color: var(--dark-text-color);
    background-color: var(--main-color);
}

.btn-signup:hover,
.btn-signup:focus,
.btn-signin:hover,
.btn-signin:focus,
.btn-new-pet:hover,
.btn-new-pet:focus {
    color: var(--white-text-color);
    background-color: var(--dark-backround-color);
}

.new-user {
    text-align: center;
    margin-top: 1.5rem;
}

.signup-error,
.signin-error,
.new-pet-error {
    font-size: small;
    margin-bottom: 0.5rem;
}

.signup-input.invalid input,
.signin-input.invalid input,
.new-pet-input.invalid input {
    border-color: #ff0000;
}

/* Profile page */
.profile {
    display: grid;
    grid-template-areas:
        "details"
        "favorite";
    grid-template-rows: 0.5fr 2fr;
    row-gap: 2rem;
    margin-top: 96px;
    height: fit-content;
    padding: 2rem;
}

.user-details {
    grid-area: details;
    display: grid;
    grid-template-areas: "profile info";
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    padding: 0 2rem;
}

.profile-img {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(10, 77, 30, 1);
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.user-info {
    grid-area: info;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 rgba(10, 77, 30, 1);
}

.user-info h1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 2rem;
}

.user-info p {
    font-weight: bold;
    margin-bottom: 1rem;
}

.favorite-pets {
    grid-area: favorite;
    padding: 0 2rem;
    border-radius: 10px;
}

.favorite-pets h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.fav-pets-list,
.search-pets-list {
    grid-area: favorite;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 0.5fr));
    row-gap: 3rem;
    column-gap: 4rem;
    grid-auto-rows: 300px;
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
}

.fav-pet,
.search-pet {
    padding: 2rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(10, 77, 30, 1);
}

.fav-pet a,
.search-pet a {
    all: unset;
    cursor: pointer;
}

.fav-pet-details img,
.search-pet-details img {
    margin-bottom: 1rem;
}

.fav-pet-details p,
.search-pet-details p {
    margin-bottom: 0.6rem;
}

/* Home page */
.home {
    display: grid;
    grid-template-areas:
        "pet1 motivation pet2"
        "search search search"
        "location location location"
        "addpet addpet addpet"
        "pets pets pets";
    grid-template-rows: 0.5fr 0.2fr 0.1fr 0.1fr 2fr;
    row-gap: 2rem;
    margin-top: 96px;
    padding: 2rem;
    height: fit-content;
}

.motivation img {
    width: 600px;
    border-radius: 5px;
}

.motivation {
    grid-area: motivation;
    margin: 0 auto;
}

.pet-search {
    grid-area: search;
    margin: auto auto;
    border: 2px solid var(--main-color);
    width: 65%;
    min-width: 555px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-wrap: wrap;
}

.pet-search span {
    align-self: center;
    padding: 10px 20px;
    color: var(--main-color);
}

.pet-search form {
    width: 100%;
    height: 55px;
    display: flex;
}

.pet-search form input {
    flex: 1;
    flex-shrink: inherit;
    border: none;
    outline: none;
    font-size: medium;
    font-family: cursive;
}

.pet-search form #searchPetType {
    border-right: 2px solid var(--main-color);
}

.pet-search form #searchPetZip {
    padding-left: 1rem;
}

.btn-pet-search {
    background: var(--main-color);
    padding: 10px 50px;
    border: none;
    outline: none;
    color: var(--dark-text-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: cursive;
}

.btn-pet-search:hover {
    color: var(--white-text-color);
    background-color: var(--dark-backround-color);
}

.add-pet-conatiner {
    grid-area: addpet;
    margin-right: 2rem;
}

.search-location {
    grid-area: location;
    text-align: center;
    margin-left: 5rem;
}

.search-location button {
    width: 15%;
    min-width: 148px;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: cursive;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    color: var(--dark-text-color);
    background-color: var(--main-color);
}

.search-location button:hover {
    color: var(--white-text-color);
    background-color: var(--dark-backround-color);
}

.add-pet {
    float: right;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-family: cursive;
    border-radius: 5px;
    cursor: default;
    border: none;
    color: var(--dark-text-color);
    background-color: var(--main-color);
    text-align: center;
}

.add-pet .btn-icon:hover {
    color: var(--white-text-color);
    background-color: var(--dark-backround-color);
}

.add-pet .btn-text,
.add-pet .btn-icon {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.add-pet .btn-icon {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.09);
}

.pet-search-result {
    grid-area: pets;
    margin: 0 2rem;
}

.pet-not-found,
.no-favorite-pets {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.pet-not-found span {
    font-size: 2.5rem;
}

/* New pet form */
.add-new-pet {
    margin-top: 150px;
    padding-bottom: 2rem;
}

.add-new-pet .card-layout {
    width: 460px;
}

.new-pet-container h1 span {
    transform: rotate(45deg);
}

.new-pet-container h1 {
    font-size: x-large;
    margin-bottom: 2rem;
    text-align: center;
}

.new-pet-input select {
    background-color: #ffffff;
}

.new-pet-input select:focus {
    outline: none;
    border: 1.5px solid var(--main-color);
}

.new-pet-input input[type=file] {
    border: none;
}

/* Pet page */
.pet {
    display: grid;
    grid-template-areas:
        "profile details"
        "profile details"
        ". comments"
        ". comments";
    grid-template-columns: 0.5fr 2fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 96px;
    padding: 2rem;
    height: fit-content;
}

.pet-profile {
    grid-area: profile;
    text-align: center;
    align-self: center;
}

.pet-profile img {
    margin-bottom: 1rem;
    border-radius: 5px;
}

.pet-profile a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.delete-pet,
.update-pet,
.like-pet,
.dislike-pet {
    width: 50%;
    margin: 1rem auto;
    padding: 0.2rem 0.2rem;
    background-color: var(--main-color);
    border-radius: 5px;
}

.update-pet span,
.delete-pet span,
.like-pet span,
.dislike-pet span {
    display: block;
    width: 100%;
    font-size: larger;
}

.delete-pet:hover,
.update-pet:hover,
.like-pet:hover,
.dislike-pet:hover {
    background-color: var(--dark-backround-color);
}

.delete-pet:hover a,
.update-pet:hover a,
.like-pet:hover a,
.dislike-pet:hover a {
    color: var(--white-text-color);
}

.pet-details {
    grid-area: details;
    width: 100%;
}

.pet-details table {
    width: 100%;
    table-layout: fixed;
}

.pet-details th,
.pet-details td {
    text-align: left;
    padding: 5px;
}

.pet-details th {
    font-size: larger;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0.5rem;
}

.pet-details td {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0.5rem;
}

.pet-comments {
    grid-area: comments;
}

.comment-title {
    font-size: x-large;
    margin-bottom: 1rem;
}

.comments-container {
    margin-bottom: 2rem;
    max-width: 50%;
}

.comment-box {
    display: grid;
    grid-template-areas:
        "img name"
        ". comment";
    grid-template-columns: max-content;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.comment-box img {
    grid-area: img;
}

.comment-box .user-name {
    grid-area: name;
    font-weight: bold;
}

.comment-box .user-comment {
    grid-area: comment;
}

.make-comment {
    width: 50%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.commentArea {
    width: 100%;
    resize: none;
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: large;
    border-radius: 5px;
}

.btn-comment {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: cursive;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--dark-text-color);
    background-color: var(--main-color);
}

.btn-comment:hover,
.btn-comment:focus {
    color: var(--white-text-color);
    background-color: var(--dark-backround-color);
}

/* About page */
.about {
    display: grid;
    grid-template-areas:
        "heading heading"
        "welcome image"
        "mission image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 96px;
    padding: 2rem;
    height: 80vh;
    min-width: 380px;
}

.about h1 {
    grid-area: heading;
    text-align: center;
}

.pet-picture {
    grid-area: image;
    display: grid;
    grid-template-areas:
        "pet1 pet2"
        "pet3 pet4";
    row-gap: 1rem;
    column-gap: 1rem;
}

.pet-picture img {
    width: 100%;
    min-width: 280px;
    border-radius: 5px;
}

.img-pet1 {
    grid-area: pet1;
}

.img-pet2 {
    grid-area: pet2;
}

.welcome {
    grid-area: welcome;
}

.welcome h2 {
    margin-bottom: 1rem;
}

.mission {
    grid-area: mission;
}

.mission h3 {
    margin-bottom: 1rem;
}