<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Form</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <form id="pet-form" action="/pets" method="POST" enctype="multipart/form-data">
    <div>
      <label for="nameInput"> Name:</label>
      <input type="text" id="nameInput" name="nameInput" required>
    </div>
    <div>
      <label for="ageInput"> Age:</label>
      <input type="text" id="ageInput" name="ageInput" required>
    </div>
    <div>
      <label for="genderInput">Gender:</label>
      <select id="genderInput" name="genderInput" required>
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div>
      <label for="breedInput">Breed:</label>
      <input type="text" id="breedInput" name="breedInput" required>
    </div>
    <div>
      <label for="descriptionInput">Description:</label>
      <input type="text" id="descriptionInput" name="descriptionInput" required>
    </div>
    <div>
      <label for="typeInput">Type:</label>
      <select id="typeInput" name="typeInput" required>
        <option value="" disabled selected>Select Type</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="cat">Bird</option>
        <option value="cat">Rabbit</option>
        <option value="cat">Fish</option>
        <option value="cat">Reptile</option>
      </select>
    </div>
    <div>
      <label for="zipInput">Zip:</label>
      <input type="text" id="zipInput" name="zipInput" required>
    </div>
    <div>
      <label for="adoptionStatusInput">Adoption Status:</label>
      <select id="adoptionStatusInput" name="adoptionStatusInput" required>
        <option value="" disabled selected>Select Status</option>
        <option value="true">Adopted</option>
        <option value="false">Not Adopted</option>
      </select>
    </div>
    <div>
      <input type="file" id="image" name="image" required/>
    </div>
    <button type="submit">Submit</button>
  </form>
  <p class="error-message"></p>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
  {{!-- <p>Already have an account? Click <a href="/login">here</a> to log in!</p> --}}
  <script src="/public/js/client_side_validation.js"></script>
</body>
</html>
