{{!-- Add new pet form --}}

<main class="add-new-pet">
    <div class="card-layout">
        <div class="new-pet-container">
            <h1><span class="material-icons-outlined">pets</span> Add a Paw to the Family <span
                    class="material-icons-outlined">pets</span></h1>
            <form action="/pets" method="post" id="newPetForm" enctype="multipart/form-data" autocomplete="off">
                <div class="new-pet-input">
                    <label for="nameInput">Name</label>
                    <input type="text" name="nameInput" id="nameInput" required>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="ageInput">Age</label>
                    <input type="text" name="ageInput" id="ageInput" required>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="genderInput">Gender</label>
                    <select name="genderInput" id="genderInput" required>
                        <option value="" selected disabled>-- Please choose a gender --</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="typeInput">Type of Animal</label>
                    <select name="typeInput" id="typeInput" required>
                        <option value="" selected disabled>-- Please choose type of animal --</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="bird">Bird</option>
                        <option value="rabbit">Rabbit</option>
                        <option value="fish">Fish</option>
                        <option value="reptile">Reptile</option>
                    </select>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="breedInput">Breed</label>
                    <input type="text" name="breedInput" id="breedInput" required>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="zipInput">Zip Code</label>
                    <input type="text" name="zipInput" id="zipInput" required>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="adoptionStatusInput">Adoption Status</label>
                    <select name="adoptionStatusInput" id="adoptionStatusInput" required>
                        <option value="" selected disabled>-- Please choose adoption status --</option>
                        <option value="true">Adopted</option>
                        <option value="false">Not Adopted</option>
                    </select>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="descriptionInput">Description</label>
                    <input type="text" name="descriptionInput" id="descriptionInput"
                        placeholder="Tell us about your paw . . ." required>
                    <p></p>
                </div>
                <div class="new-pet-input">
                    <label for="image">Choose a picture</label>
                    <input type="file" name="image" id="image" required>
                    <p></p>
                </div>
                {{#if error}}
                <p class="error">{{error}}</p>
                {{/if}}
                <div class="new-pet-submit">
                    <button type="submit" class="btn-new-pet">Add Pet</button>
                </div>
            </form>
        </div>
    </div>
</main>
