{{!-- Sign up page --}}

<main class="signup">
    <div class="card-layout">
        <div class="signup-container">
            <h1>Create Pawdoption Account</h1>
            <p class="slogan">Where Hearts and Paws Unite&#33;</p>
            <form action="/register" method="post" id="signupForm" autocomplete="off">
                <div class="signup-input">
                    <label for="firstNameInput">First Name</label>
                    <input type="text" name="firstNameInput" id="firstNameInput" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="lastNameInput">Last Name</label>
                    <input type="text" name="lastNameInput" id="lastNameInput" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="emailAddressInput">Email</label>
                    <input type="email" name="emailAddressInput" id="emailAddressInput" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="passwordInput">Password</label>
                    <input type="password" name="passwordInput" id="passwordInput" required>
                    <p></p>
                </div>
                <div class="signup-input">
                    <label for="confirmPasswordInput">Confirm Password</label>
                    <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" required>
                    <p></p>
                </div>
                <div class="existing-user" id="existingUser">
                    <p>Already have an account&#63; <a href="/login">Sign In</a></p>
                </div>
                <div class="signup-submit">
                    <button type="submit" class="btn-signup">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</main>